<div *ngIf="company && shopper" class="main-container">
<!-- <div *ngIf="company && shopper && actualQuote" class="main-container"> -->
    <h1 class="page-title text-2xl">
        {{ company.name }}
    </h1>
    <h2 class="font-bold">
        {{ shopper.name }}
    </h2>
    <nav class="mb-5">
        <button routerLink="/shopper">
            Volver
        </button>    
    </nav>

    <input 
        type="date"
        name="dueDate"
        (change)="handleDate($event)"
        class="form-control"
        [value]="actualDueDate"
    >

    <div class="list-container">
        <div *ngFor="let product of company.products; index as i" class="row">
            <p>{{ product.name }}</p>
            <input 
                type="number"
                name="price"
                class="form-control"
                (change)="handleQuote($event, product)"
                [value]="actualQuote ? actualQuote.products[i].value : 0"
            >
        </div>
        <button *ngIf="validData" (click)="saveQuote()">
            Guardar
        </button>
    </div>
</div>

