<div class="main-container">
  <p>Logo</p>
  <h1 class="page-title text-2xl">
    Ingreso de usuarios
  </h1>

  <div *ngIf="errorMsg" class="error-container">
    {{ errorMsg }}
  </div>

  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <label for="email">
        <span>Email</span>
        <input 
          type="email"
          name="email"
          formControlName="email"
          class="form-control"
        >
      </label>
    
      <label for="password">
        <span>Contraseña</span>
        <input 
          type="password"
          name="password"
          formControlName="password"
          class="form-control"
        >
      </label>
    
      <button type="submit" class="main-btn mt-5 w-1/3">
        Enviar
      </button>
    </form>
  </div>
</div>
