.search-container
    span
        display: block
        @apply mb-1
    @apply py-5 rounded

.found-row
    @apply flex justify-between
    button
        @apply text-xs py-1
    p
        @apply text-xs
        line-height: 4
    &:hover
        background-color: #eee
        @apply pl-5 rounded
        button
            @apply shadow-none




