<div class="search-container">
  <span>Buscar producto</span>
  <input 
    type="text"
    name="searchString"
    (keyup)="handleSearch($event)"
    [(ngModel)]="searchString"
    class="form-control"
  >

  <div *ngIf="foundProducts.length > 0" class="search-result">
    <span class="page-title">
      Resultado de la búsqueda
    </span>
    <div *ngFor="let product of foundProducts" class="found-row">
      <p>{{ product.name }}</p>
      <button (click)="hanldeSelected(product)">
        Agregar a mi lista
      </button>
    </div>
  </div>  

</div>

