<form class="form-container" 
  [formGroup]="productForm" 
  (ngSubmit)="handleSubmit()"
>
  <label for="name">
    <span>Nombre del producto</span>
    <input 
      name="name"
      type="text"
      formControlName="name"
      class="form-control"
    >
  </label>
  <label for="price">
    <span>Precio</span>
    <input 
      name="price"
      type="number"
      formControlName="price"
      class="form-control"
    >
  </label>

  <button type="submit mt-5">
    Guardar
  </button>
</form>
