<div class="main-container">
    <p>Logo</p>
    <h1 class="page-title text-2xl">
        Registro de usuarios
    </h1>
    <button routerLink="/" class="w-1/6 mt-2">
        Volver
    </button>

    <div *ngIf="!formSent; else sentMsg" class="form-container">
        <form [formGroup]="registerForm" (submit)="handleRegister()">
            <label for="type">
                <span>Tipo de usuario</span>
                <select 
                    name="type"
                    formControlName="type" 
                    class="form-control"
                    (change)="handleTypes($event)"
                >
                    <option value="">Seleccione un tipo de usuario</option>
                    <option value="company">Soy comprador</option>
                    <option value="shopper">Soy vendedor</option>
                </select>
            </label>
            <label for="name">
                <span>Nombre empresa</span>
                <input 
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="name"
                >
            </label>
            <label for="nit">
                <span>NIT</span>
                <input 
                    type="text"
                    name="nit"
                    class="form-control"
                    formControlName="nit"
                >
            </label>
            <label for="nit">
                <span>Representante legal</span>
                <input 
                    type="text"
                    name="legal"
                    class="form-control"
                    formControlName="legalRep"
                >
            </label>
            <label for="email">
                <span>Email</span>
                <input 
                    type="email"
                    name="email"
                    class="form-control"
                    formControlName="email"
                >
            </label>
            <label for="address">
                <span>Direccion</span>
                <input 
                    type="text"
                    name="address"
                    class="form-control"
                    formControlName="address"
                >
            </label>
            <label for="Phone">
                <span>Celular</span>
                <input 
                    type="text"
                    name="Phone"
                    class="form-control"
                    formControlName="phone"
                >
            </label>
            <label for="whatsapp">
                <span>Whatsapp</span>
                <input 
                    type="text"
                    name="whatsapp"
                    class="form-control"
                    formControlName="whatsapp"
                >
            </label>
            <div *ngIf="creatingType === 'company'">
                <label for="deliveryTerms">
                    <span>Condiciones de entrega</span>
                    <textarea 
                        name="deliveryTerms"
                        class="form-control"
                        formControlName="deliveryTerms"
                    ></textarea>
                </label>
                <label for="paymentTerms">
                    <span>Condiciones de pago</span>
                    <textarea 
                        name="paymentTerms"
                        class="form-control"
                        formControlName="paymentTerms"
                    ></textarea>
                </label>    
            </div>

            <button type="submit" class="main-btn w-1/2">
                Enviar registro
            </button>
        </form>
    </div>
    <ng-template #sentMsg>
        <p>
            Su información de registro se ha enviado correctamente. 
            Pronto nos pondremos en contacto con usted.
        </p>
    </ng-template>
</div>

