<div class="main-container">
  <h1 class="page-title text-2xl">
    Adminstrador
  </h1>

  <nav>

    <button (click)="toggleForm()">
      Nuevo producto
    </button>
    <button routerLink="/admin/prices">
      Precios
    </button>
  </nav>

  <div *ngIf="showForm" class="my-10">
    <product-form></product-form>
  </div>

  <div class="mt-5">
    <h2 class="page-title text-lg">
      Productos
    </h2>

    <app-items-table
      [items]="adminProducts"
      [showDates]="true"
      (sendSelected)="handleUpdatingProduct($event)"
    ></app-items-table>
    
  </div>  
</div>