@tailwind base
@tailwind components
@tailwind utilities

@import ./variables

body
  background-color: $bgColor
  @apply text-sm
  color: $darkText

button
  color: $primary
  @apply px-10 py-2 shadow-md rounded-md text-xs font-bold

nav
  button
    @apply mr-2

label span
  display: block
  @apply text-xs mb-1

.form-control
  @apply w-full py-2 px-4 rounded shadow

.main-container
  @apply py-10 px-20 flex flex-col

.card
  @apply rounded p-10
  &.home
    @apply w-1/2 pl-0 pr-20
    h2
      @apply border-b-2 pb-5
      font-size: 36px
      letter-spacing: -3px
      border-color: $primary

.table-container
  display: flex
  flex-direction: column
  margin: 0 auto
  @apply mt-5 px-12 py-5 pb-12 rounded-lg w-full bg-white shadow-lg
  .row
    @apply flex justify-between border-b text-xs py-5
    border-color: $lightBg
    &:hover 
      @apply font-bold
      border-color: $primary
    button
      @apply shadow-none
      margin-bottom: 0

.page-title
  color: $primary
  @apply font-bold
  
.form-container
  @apply w-6/12 mt-10
  form
    @apply py-5 rounded flex flex-col
    input, select
      @apply mb-3

.status-icon
  font-size: 18px
  &.down
    rotate: 90deg
    color: $danger
  &.up
    rotate: -90deg
    color: $primary
  &.same
    color: $neutral


