<div class="main-container">
    <h1 class="page-title text-2xl">
        Pedido creado
    </h1>
    <nav>
        <button routerLink="/company">
            Volver
        </button>    
    </nav>
    <div *ngIf="order" class="info-container flex flex-col">
        <div class="flex flex-col bg-white rounded py-5 px-10 mt-5">
            <p class="flex justify-between">
                <span class="font-bold">Fecha de creacion:</span> 
                <span>{{ order.createdAt | date }}</span>
            </p>
            <p class="flex justify-between">
                <span class="font-bold">Condiciones de entrega:</span> 
                <span>{{ order.deliveryTerms }}</span>
            </p>    
            <p class="flex justify-between">
                <span class="font-bold">Condiciones de pago:</span> 
                <span>{{ order.paymentTerms }}</span>
            </p>    
        </div>
        <div class="order-card">
            <h2 class="page-title text-xl">
                Informacion del vendedor
            </h2>
            <h3 class="text-md font-bold">
                {{ order.shopperName }}
            </h3>
            <p>
                <span class="font-bold">Telefono:</span> 
                {{ order.shopperPhone }}
            </p>
            <p>
                <span class="font-bold">Whatsapp:</span> 
                {{ order.shopperWhatsapp }}
            </p>
            <p>
                <span class="font-bold">Email:</span> 
                {{ order.shopperEmail }}
            </p>
            <p>
                <span class="font-bold">Direccion:</span> 
                {{ order.shopperAddress }}
            </p>
        </div>
        <div *ngIf="order" class="order-card">
            <h2 class="page-title text-xl">
                Informacion del comprador
            </h2>
            <h3 class="text-md font-bold">
                {{ order.companyName }}
            </h3>
            <p>
                <span class="font-bold">Telefono:</span> 
                {{ order.companyPhone }}
            </p>
            <p>
                <span class="font-bold">Whatsapp:</span> 
                {{ order.companyWhatsapp }}
            </p>
            <p>
                <span class="font-bold">Email:</span> 
                {{ order.companyEmail }}
            </p>
            <p>
                <span class="font-bold">Direccion de entrega:</span> 
                {{ order.companyAddress }}
            </p>
        </div>    
    </div>
    <div *ngIf="order" class="flex flex-col mt-10">
        <h2 class="page-title text-xl">
            Productos
        </h2>
        <div class="products">
            <div class="row flex justify-between my-2">
                <p class="font-bold">Nombre</p>
                <p class="text-center font-bold text-sm">Cantidad</p>
                <p class="text-center font-bold text-sm">Precio</p>
                <p class="text-right font-bold text-sm">Total</p>
            </div>
            <div *ngFor="let product of order.products" class="row flex justify-between py-2">
                <p class="text-xs">{{ product.productName }}</p>
                <p class="text-center text-xs">{{ product.quant }}</p>
                <p class="text-center text-xs">{{ product.price | number }}</p>
                <p class="text-right text-xs font-bold">{{ product.total | number }}</p>
            </div>    
        </div>
        <h2 class="page-title text-2xl mt-5">
            <span>Valor total:</span>
            {{ order.total | number }}
        </h2>
    </div>
</div>
