<div class="main-container">

  <h1 *ngIf="logged" class="page-title text-2xl">
    {{ logged.name }}
  </h1>
  <h2 class="font-bold mb-5">
    Comprabastos
  </h2>
  <nav>
    <button routerLink="/company/list">
      Mi lista
    </button>
    <button routerLink="/company/orders">
      Mis pedidos
    </button>
    <button routerLink="/">
      Volver
    </button>
  </nav>

  <div class="flex">
    <div class="chart-container px-5 py-20">
        <h3 class="page-title text-xl text-center mb-5">
          Productos comprados
        </h3>
        <canvas baseChart
        [type]="'pie'"
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
      ></canvas>
    </div>
    <div class="variation-btn-container">
      <h3 class="page-title text-xl">
        Variación de precios
      </h3>
      <p>
        Revise la variación en los precios de nuestros productos durante el último trimestre.
      </p>
      <button routerLink="/company/variation" class="main-btn mt-5">
        Ver variación
      </button>
    </div>
  </div>

  <!-- products table -->
  <app-items-table 
    [items]="adminProducts"
    [showDates]="true"
  ></app-items-table>

</div>
