<div class="main-container">

  <h1 *ngIf="logged" class="page-title text-2xl">
    {{ logged.name }}
  </h1>
  <h2 class="font-bold mb-5">
    Comprabastos
  </h2>
  <nav>
    <button routerLink="/company/list">
      Mi lista
    </button>
    <button routerLink="/company/orders">
      Mis pedidos
    </button>
    <button routerLink="/">
      Volver
    </button>
  </nav>

  <div class="flex">
    <div class="chart-container w-1/2 px-5">
      <canvas baseChart
        [type]="'pie'"
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
      ></canvas>
    </div>
  </div>

  <!-- products table -->
  <app-items-table 
    [items]="adminProducts"
    [showDates]="true"
  ></app-items-table>

</div>
